
.bg{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    align-items: center;
    position: static;
    width: 1280px;
    height: 560px;
    gap: 64;
    padding: 80px 100px 80px 100px;
    justify-content: center;
    margin: 80px 400px;
}
h5{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    gap: 64;
}
.text h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    position: static;
    width: 622px;
    height: 201px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64;
    padding: 0px;
}
.btn-container{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    gap: 64;
    padding: 17px 34px 17px 34px;
}
.btn-container:hover{
    background-color: lightgreen;
    cursor: pointer;
}
.vision{
    margin: 80px 400px;
}
.vision h4{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    position: static;
    width: 1280px;
    height: 48px;

}

.vision p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.future{
    display: flex;
    gap: 24;
}
.box1{
    box-sizing: border-box;
    border-radius: 16px;
    position: static;
    width: 410.67px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 32px;
    margin: 0px 24px;
    background: rgba(84, 144, 245, 0.2);
}
.box2{
    box-sizing: border-box;
    border-radius: 16px;
    position: static;
    width: 410.67px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 32px;
    margin: 0px 24px;
    background: rgb(198, 228, 214);
}
.box3{
    box-sizing: border-box;
    border-radius: 16px;
    position: static;
    width: 410.67px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 32px;
    margin: 0px 24px;
    background: rgb(247, 235, 207);
}
.btn1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
}
.btn2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
}
.btn3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
}

.quote{
    width: 1280px;
    height: 256px;
    position: static;
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 2cap 1cap;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    align-items: center;
    margin: 80px 400px;

}
.quote p{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 36px;
    margin-left: 24px;
}
.quote h4{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 24px;
}
/* .p2{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -36px;
    margin-left: 24px;
} */

h7{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    
    margin-left: 24px;
}

.news-title{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.news{
    margin: 80px 400px;
}

.news1{
    display: flex;
    gap: 30px;
    border-radius: 24px;
    background: rgb(255, 255, 255);

    position: static;
    width: 1280px;
    height: 402px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.picture-1{
    border-radius: 24px;
    background: url('assets/satelite.png');
    position: static;
    width: 408px;
    height: 306px;
}
.date-time{
    display: flex ;
    gap: 15px;
}
.info-1{
    position: static;
    width: 744px;
    height: 290px;
    margin-bottom: 56px;
}
.donation{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    position: static;
    width: 1280px;
    height: 464px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.paragraph{
    position: static;
    width: 1104px;
    height: 48px;
    margin-bottom: 20px;

    text-align: center;
}


.sections{
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.money{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    position: static;
    width: 240px;
    height: 128px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0px;
}

.money:hover {
    background-color: rgb(198, 228, 214);
    cursor: pointer;
}
input{
    margin-bottom: 30px;
    /* color: rgba(14, 14, 14, 0.3); */
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    position: static;
    width: 1032px;
    height: 64px;
    box-sizing: border-box;
    /* border-bottom: 1px solid rgba(14, 14, 14, 0.15); */
    background: rgb(255, 255, 255);
    align-items: center;
    gap: 24;
    padding: 20px 40px 20px 40px;
}
.btns{
    margin-bottom: 30px;
}